{% extends 'base.html' %}
{% block title %}sub{% endblock %}
{% load static %}
{% block content %}

<section class="py-6 py-md-10 bg-white">
    <div class="container container-wd">
        {% include 'components/msg.html' %}
        <div class="bg-gradient-1 rounded-lg py-md-9 py-8 px-md-8 px-5">
            <div class="row align-items-center">
                <div class="col-xl-7 mb-4 mb-xl-0 text-capitalize">
                    <h1 class="text-white mb-3">Subscribe our newsletter</h1>
                    <p class="font-size-lg text-white mb-3">Your download should start automatically, if not Click here.
                        Should I give up, huh?.</p>
                </div>

                <div class="col-xl-5">
                    <form method="post" action="{% url 'subscribe' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="input-group d-block d-md-flex bg-white p-1 rounded-lg">
                            <input type="text"
                                class="form-control w-100 w-md-auto form-control-sm rounded-lg border-0 placeholder-1"
                                placeholder="Enter your email" aria-label="Enter your email"
                                aria-describedby="button-addon2" name="email">
                            <div class="input-group-append ms-0">
                                <button class="btn btn-sm btn-dark w-100 w-md-auto btn-wide rounded-lg border-0"
                                    type="submit" id="button-addon2">Subscribe</button>
                            </div>
                        </div>
                    </form>                    
                </div>                               
            </div>
        </div>
    </div>
</section>

{% endblock %}