{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% block style %}
<style>
    a {
      text-decoration: none;
      
    }
    a:hover {
      text-decoration: none;
    }
  
  .number {
      color: var(--primary-color-primary-600, #2D8342);
  
  /* Heading/Heading H4 */
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 46px;
  letter-spacing: -0.72px;
  }
  
  .text {
    color: var(--text-color-paragraph-1, #525252);
  
  /* Paragraph Large/Medium */
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  }
  
  .btn-learn {
    color: #319049;
    margin-right: 10px;
  }
  .btn-learn:hover {
      color: white;
      background-color: #319049;
  }
  
  </style>
{% endblock %}
{% load static %}
{% block content  %}


<div class="header-section bg-white py-5 text-center" style="margin-top: 50px;">
    <div class="container">
        <div class="content">
            <div class="heading-and-supporting-text">
                <div class="heading-and-subheading">
                    <p style="color: #319049; font-weight: 600; font-size: 18px;" class="subheading">About us</p>
                    <h1 class="" style="font-weight: 800; font-size: 44px; color: #262626; ">About the company</h1>
                </div>
                <p class="lead supporting-text" style="color: #525252; font-weight: 400; font-size: 18px;">Learn more about the company and the team behind it.</p>
            </div>
        </div>
    </div>
</div>

<!--  -->

<!--  -->
<div style="margin-bottom: 100px; margin-top: 80px;" class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="image-icon img-fluid" alt="" style="border-radius: 32px;" src="{% static 'assets/img/home_about/Image (1).svg' %}">
      </div>
      <div class="col-md-6 mt-4">
        <div class="content">
          <div class="heading-and-supporting-text my-2">
            <div class="heading-and-subheading">
              <div class="mb-4" style="color: var(--primary-color-on, #319049); font-size: 16px;
              font-weight: 600;">We’ve helped hundreds of companies</div>
              <h2 class="display-4 heading" style="color: var(--text-color-heading, #262626);font-size: 42px;
              font-style: normal;font-weight: 800;">We’re only just getting started on our journey</h2>
            </div>
          </div>
          <div class="content1 my-5">
            <div class="row mt-5" id="metricItemsContainer">
              <div style="display: flex; justify-content: space-between; align-items: center;">
                <div class="my-5">
                  <div class="mb-5">
                    <h1 id="projectsCount" style="color: #2D8342; font-weight: 800;">0</h1>
                    <p style="color: #525252;">Projects completed</p>
                  </div>
                  <div class="mb-5">
                    <h1 id="downloadsCount" style="color: #2D8342; font-weight: 800;">0K</h1>
                    <p style="color: #525252;">Global downloads</p>
                  </div>
                </div>
                <div class="my-5">
                  <div class="mb-5">
                    <h1 id="roiCount" style="color: #2D8342; font-weight: 800;">0%</h1>
                    <p style="color: #525252;">Return on investment</p>
                  </div>
                  <div class="mb-5">
                    <h1 id="reviewsCount" style="color: #2D8342; font-weight: 800;">0</h1>
                    <p style="color: #525252;">5-star reviews</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <div  class="container py-5">
    <div class="header-section bg-white text-center">
        <div class="container">
            <div class="content">
                <div class="heading-and-supporting-text ">
                    <div class="heading-and-subheading">
                        <p style="color: #319049; font-weight: 600; font-size: 18px;" class="subheading">We are here</p>
                        <h2 class="" style="font-weight: 800; font-size: 35px; color: #262626;">Learn from Our Knowledgeable Instructors</h2>
                    </div>
                    <p style="font-size: 18px; font-weight: 400; color: #525252; padding: 0 100px;">Get ready to learn from the best! Our team of
                        expert instructors at Coursely is passionate about sharing their knowledge
                        and expertise with you. Discover who will be guiding you through your online
                        learning journey.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row team-member-wrap-parent  text-center " style="margin-top: 60px; margin-bottom: 60px;">
      <div class="col-md-6 col-lg-4 col-xl-3 py-3">
        <div class="d-flex justify-content-center align-items-center">
            <div class="team-member-wrap py-3 px-2" style="border-radius: 16px; background-color: #f9fafb;">
              <div class="team-member">
                <img class="team-member-child rounded-circle" alt="" src="{% static 'assets/img/home_about/Ellipse 1.svg'%}">
                <div class="text-and-social-links">
                  <div class="name-and-supporting-text">
                    <div class="name-and-role">
                      <h5 class="name mt-2" style="font-weight: 600; color: #262626;">Olivia Rhye</h5>
                      <p class="role my-1" style="color: #737373;">UI Designer</p>
                    </div>
                    <p class="supporting-text" style="color: #525252; font-weight: 400; font-size: 15px;">Lead user researcher for Slack. Contractor for Netflix and Udacity.</p>
                  </div>
                  <div class="social-icons d-flex justify-content-center">
                    <a href="#"><img class="social-icon mr-2" style="margin-right: 8px;" alt="" src="{% static 'assets/img/home_about/twitter.svg'%}"></a>
                    <a href="#"><img class="social-icon mr-2" style="margin-right: 8px;" alt="" src="{% static 'assets/img/home_about/Social icon (3).svg'%}"></a>
                    <a href="#"><img class="social-icon mr-2"  alt="" src="{% static 'assets/img/home_about/Social icon (4).svg'%}"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 py-3">
        <div class="d-flex justify-content-center align-items-center">
            <div class="team-member-wrap py-3 px-2" style="border-radius: 16px; background-color: #f9fafb;">
              <div class="team-member">
                <img class="team-member-child rounded-circle" alt="" src="{% static 'assets/img/home_about/Ellipse 2.svg'%}">
                <div class="text-and-social-links">
                  <div class="name-and-supporting-text">
                    <div class="name-and-role">
                      <h5 class="name mt-2" style="font-weight: 600; color: #262626;">Ethan Foster</h5>
                      <p class="role my-1" style="color: #737373;">Full-Stack Developer</p>
                    </div>
                    <p class="supporting-text" style="color: #525252; font-weight: 400; font-size: 15px;">Former software engineer at Google. Founder of a successful tech startup.</p>
                  </div>
                  <div class="social-icons d-flex justify-content-center">
                    <a href="#"><img class="social-icon mr-2" style="margin-right: 8px;" alt="" src="{% static 'assets/img/home_about/twitter.svg'%}"></a>
                    <a href="#"><img class="social-icon mr-2" style="margin-right: 8px;" alt="" src="{% static 'assets/img/home_about/Social icon (3).svg'%}"></a>
                    <a href="#"><img class="social-icon mr-2"  alt="" src="{% static 'assets/img/home_about/Social icon (4).svg'%}"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 py-3">
        <div class="d-flex justify-content-center align-items-center">
            <div class="team-member-wrap py-3 px-2" style="border-radius: 16px; background-color: #f9fafb;">
              <div class="team-member">
                <img class="team-member-child rounded-circle" alt="" src="{% static 'assets/img/home_about/Ellipse 1 (2).svg'%}">
                <div class="text-and-social-links">
                  <div class="name-and-supporting-text">
                    <div class="name-and-role">
                      <h5 class="name mt-2" style="font-weight: 600; color: #262626;">Sophia Chen</h5>
                      <p class="role my-1" style="color: #737373;">Digital Marketer</p>
                    </div>
                    <p class="supporting-text" style="color: #525252; font-weight: 400; font-size: 15px;">Marketing manager at a leading e-commerce company.</p>
                  </div>
                  <div class="social-icons d-flex justify-content-center">
                    <a href="#"><img class="social-icon mr-2" style="margin-right: 8px;" alt="" src="{% static 'assets/img/home_about/twitter.svg'%}"></a>
                    <a href="#"><img class="social-icon mr-2" style="margin-right: 8px;" alt="" src="{% static 'assets/img/home_about/Social icon (3).svg'%}"></a>
                    <a href="#"><img class="social-icon mr-2"  alt="" src="{% static 'assets/img/home_about/Social icon (4).svg'%}"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 py-3">
        <div class="d-flex justify-content-center align-items-center">
            <div class="team-member-wrap py-3 px-2" style="border-radius: 16px; background-color: #f9fafb;">
              <div class="team-member">
                <img class="team-member-child rounded-circle" alt="" src="{% static 'assets/img/home_about/Ellipse 1 (3).svg'%}">
                <div class="text-and-social-links">
                  <div class="name-and-supporting-text">
                    <div class="name-and-role">
                      <h5 class="name mt-2" style="font-weight: 600; color: #262626;">Gabriel Santos</h5>
                      <p class="role my-1" style="color: #737373;">Front-End Developer</p>
                    </div>
                    <p class="supporting-text" style="color: #525252; font-weight: 400; font-size: 15px;">Senior developer at a software consultancy.</p>
                  </div>
                  <div class="social-icons d-flex justify-content-center">
                    <a href="#"><img class="social-icon mr-2" style="margin-right: 8px;" alt="" src="{% static 'assets/img/home_about/twitter.svg'%}"></a>
                    <a href="#"><img class="social-icon mr-2" style="margin-right: 8px;" alt="" src="{% static 'assets/img/home_about/Social icon (3).svg'%}"></a>
                    <a href="#"><img class="social-icon mr-2"  alt="" src="{% static 'assets/img/home_about/Social icon (4).svg'%}"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 py-3">
        <div class="d-flex justify-content-center align-items-center">
            <div class="team-member-wrap py-3 px-2" style="border-radius: 16px; background-color: #f9fafb;">
              <div class="team-member">
                <img class="team-member-child rounded-circle" alt="" src="{% static 'assets/img/home_about/Ellipse 1 (4).svg'%}">
                <div class="text-and-social-links">
                  <div class="name-and-supporting-text">
                    <div class="name-and-role">
                      <h5 class="name mt-2" style="font-weight: 600; color: #262626;">Ava Mitchell</h5>
                      <p class="role my-1" style="color: #737373;">Graphic Designer</p>
                    </div>
                    <p class="supporting-text" style="color: #525252; font-weight: 400; font-size: 15px;">Freelance designer for various international clients.</p>
                  </div>
                  <div class="social-icons d-flex justify-content-center">
                    <a href="#"><img class="social-icon mr-2" style="margin-right: 8px;" alt="" src="{% static 'assets/img/home_about/twitter.svg'%}"></a>
                    <a href="#"><img class="social-icon mr-2" style="margin-right: 8px;" alt="" src="{% static 'assets/img/home_about/Social icon (3).svg'%}"></a>
                    <a href="#"><img class="social-icon mr-2"  alt="" src="{% static 'assets/img/home_about/Social icon (4).svg'%}"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 py-3">
        <div class="d-flex justify-content-center align-items-center">
            <div class="team-member-wrap py-3 px-2" style="border-radius: 16px; background-color: #f9fafb;">
              <div class="team-member">
                <img class="team-member-child rounded-circle" alt="" src="{% static 'assets/img/home_about/Ellipse 1 (5).svg'%}">
                <div class="text-and-social-links">
                  <div class="name-and-supporting-text">
                    <div class="name-and-role">
                      <h5 class="name mt-2" style="font-weight: 600; color: #262626;">Liam Walker</h5>
                      <p class="role my-1" style="color: #737373;">SEO Specialist</p>
                    </div>
                    <p class="supporting-text" style="color: #525252; font-weight: 400; font-size: 15px;">SEO manager at a digital marketing agency</p>
                  </div>
                  <div class="social-icons d-flex justify-content-center">
                    <a href="#"><img class="social-icon mr-2" style="margin-right: 8px;" alt="" src="{% static 'assets/img/home_about/twitter.svg'%}"></a>
                    <a href="#"><img class="social-icon mr-2" style="margin-right: 8px;" alt="" src="{% static 'assets/img/home_about/Social icon (3).svg'%}"></a>
                    <a href="#"><img class="social-icon mr-2"  alt="" src="{% static 'assets/img/home_about/Social icon (4).svg'%}"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 py-3">
        <div class="d-flex justify-content-center align-items-center">
            <div class="team-member-wrap py-3 px-2" style="border-radius: 16px; background-color: #f9fafb;">
              <div class="team-member">
                <img class="team-member-child rounded-circle" alt="" src="{% static 'assets/img/home_about/Ellipse 1 (6).svg'%}">
                <div class="text-and-social-links">
                  <div class="name-and-supporting-text">
                    <div class="name-and-role">
                      <h5 class="name mt-2" style="font-weight: 600; color: #262626;">Emily Thompson</h5>
                      <p class="role my-1" style="color: #737373;">Software Engineer</p>
                    </div>
                    <p class="supporting-text" style="color: #525252; font-weight: 400; font-size: 15px;">Worked at a leading tech company. Contributed to the development.</p>
                  </div>
                  <div class="social-icons d-flex justify-content-center">
                    <a href="#"><img class="social-icon mr-2" style="margin-right: 8px;" alt="" src="{% static 'assets/img/home_about/twitter.svg'%}"></a>
                    <a href="#"><img class="social-icon mr-2" style="margin-right: 8px;" alt="" src="{% static 'assets/img/home_about/Social icon (3).svg'%}"></a>
                    <a href="#"><img class="social-icon mr-2"  alt="" src="{% static 'assets/img/home_about/Social icon (4).svg'%}"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 py-3">
        <div class="d-flex justify-content-center align-items-center">
            <div class="team-member-wrap py-3 px-2" style="border-radius: 16px; background-color: #f9fafb;">
              <div class="team-member">
                <img class="team-member-child rounded-circle" alt="" src="{% static 'assets/img/home_about/Ellipse 1 (7).svg'%}">
                <div class="text-and-social-links">
                  <div class="name-and-supporting-text">
                    <div class="name-and-role">
                      <h5 class="name mt-2" style="font-weight: 600; color: #262626;">Max Roberts</h5>
                      <p class="role my-1" style="color: #737373;">Social Media Marketer</p>
                    </div>
                    <p class="supporting-text" style="color: #525252; font-weight: 400; font-size: 15px;">Managed social media campaigns for diverse brands.</p>
                  </div>
                  <div class="social-icons d-flex justify-content-center">
                    <a href="#"><img class="social-icon mr-2" style="margin-right: 8px;" alt="" src="{% static 'assets/img/home_about/twitter.svg'%}"></a>
                    <a href="#"><img class="social-icon mr-2" style="margin-right: 8px;" alt="" src="{% static 'assets/img/home_about/Social icon (3).svg'%}"></a>
                    <a href="#"><img class="social-icon mr-2"  alt="" src="{% static 'assets/img/home_about/Social icon (4).svg'%}"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
      </div>
      
     
     
      <!-- Repeat the above code for other team members -->
    </div>
  </div>
  <!-- are you a teacher -->

  <div class="container content " style="background-color: #eaf4ed; margin-bottom: 100px; border-radius: 16px; padding: 50px">
    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
      <div class="heading-and-supporting-text">
        <h3 style="color: #153C1F; font-weight: 800; font-size: 30px;">Are you a teacher or student?</h3>
        <p style="color: #236634; font-weight: 400; font-size: 18px;">Join over 4,000+ students already thriving with our online course.</p>
      </div>
      <div class="actions d-flex flex-wrap justify-content-between align-items-center">
        <div class="button-variant">
          <a href="{% url 'single_course' %}" class=" ml-md-2 mr-2 mb-2 mt-2 btn-learn" style="border-radius: var(--radius-radius, 4px);
          border: 1.5px solid #319049;
          background: rgba(224, 31, 38, 0.00); padding: 10px 24px;">Learn More</a>
        </div>
        <div class="ml-md-2 mt-2 mb-2">
          <a href="{% url 'login' %}" class=" text-white" style="
          padding: 10px 24px; border-radius: var(--radius-radius, 4px);
background: #319049;">Get Started</a>
        </div>
      </div>
      
    </div>
  </div>
  <!--  -->
  <div sty class="header-section bg-white py-2 mt-5 text-center">
    <div class="container">
        <div class="content">
            <div class="heading-and-supporting-text">
                <div class="heading-and-subheading">
                    <p style="color: #319049; font-weight: 600; font-size: 17px;" class="subheading">Our values</p>
                    <h4 class="mb-3" style="font-weight: 800; font-size: 30px; color: #262626; ">Experience the Power of Coursely Unleash Your Learning Potential</h4>
                </div>
                <p class="" style="color: #525252; font-weight: 400; font-size: 18px; padding: 0 100px;">At Coursely, we are committed to empowering learners like you. Discover the remarkable features that define our platform and take your educational journey to new heights.</p>
            </div>
        </div>
    </div>
</div>
  <!--  -->
  <div style="margin-bottom: 150px;" class="container mt-5">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="featured-icon-parent">
          <div class=" d-flex justify-content-center align-items-center">
            <div class="mb-3 d-flex justify-content-center align-items-center" style="width: 70px;
            height: 70px; background-color: #EAF4ED; border-radius: 50%;">    
              <img class="img-fluid" alt="" src="{% static 'assets/img/home_about/users.svg'%}">
            </div>
          </div>
          <div class="text-and-supporting-text">
            <h5 class="" style="color:  #262626; font-weight: 500; font-size: 20px;">Diverse Course Selection</h5>
            <p class="px-2" style="color: #737373; font-weight: 400; line-height: 20px;">Explore our extensive range of courses covering various disciplines. From technical skills to personal development, find the perfect courses to fuel your ambitions.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="featured-icon-parent">
          <div class=" d-flex justify-content-center align-items-center">
            <div class="mb-3 d-flex justify-content-center align-items-center" style="width: 70px;
            height: 70px; background-color: #EAF4ED; border-radius: 50%;">    
              <img class="img-fluid" alt="" src="{% static 'assets/img/home_about/users.svg'%}">
            </div>
          </div>
          <div class="text-and-supporting-text">
            <h5 class="" style="color:  #262626; font-weight: 500; font-size: 20px;">Diverse Course Selection</h5>
            <p class="px-2" style="color: #737373; font-weight: 400; line-height: 20px;">Explore our extensive range of courses covering various disciplines. From technical skills to personal development, find the perfect courses to fuel your ambitions.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="featured-icon-parent">
          <div class=" d-flex justify-content-center align-items-center">
            <div class="mb-3 d-flex justify-content-center align-items-center" style="width: 70px;
            height: 70px; background-color: #EAF4ED; border-radius: 50%;">    
              <img class="img-fluid" alt="" src="{% static 'assets/img/home_about/users.svg'%}">
            </div>
          </div>
          <div class="text-and-supporting-text">
            <h5 class="" style="color:  #262626; font-weight: 500; font-size: 20px;">Diverse Course Selection</h5>
            <p class="px-2" style="color: #737373; font-weight: 400; line-height: 20px;">Explore our extensive range of courses covering various disciplines. From technical skills to personal development, find the perfect courses to fuel your ambitions.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="featured-icon-parent">
          <div class=" d-flex justify-content-center align-items-center">
            <div class="mb-3 d-flex justify-content-center align-items-center" style="width: 70px;
            height: 70px; background-color: #EAF4ED; border-radius: 50%;">    
              <img class="img-fluid" alt="" src="{% static 'assets/img/home_about/users.svg'%}">
            </div>
          </div>
          <div class="text-and-supporting-text">
            <h5 class="" style="color:  #262626; font-weight: 500; font-size: 20px;">Diverse Course Selection</h5>
            <p class="px-2" style="color: #737373; font-weight: 400; line-height: 20px;">Explore our extensive range of courses covering various disciplines. From technical skills to personal development, find the perfect courses to fuel your ambitions.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="featured-icon-parent">
          <div class=" d-flex justify-content-center align-items-center">
            <div class="mb-3 d-flex justify-content-center align-items-center" style="width: 70px;
            height: 70px; background-color: #EAF4ED; border-radius: 50%;">    
              <img class="img-fluid" alt="" src="{% static 'assets/img/home_about/users.svg'%}">
            </div>
          </div>
          <div class="text-and-supporting-text">
            <h5 class="" style="color:  #262626; font-weight: 500; font-size: 20px;">Diverse Course Selection</h5>
            <p class="px-2" style="color: #737373; font-weight: 400; line-height: 20px;">Explore our extensive range of courses covering various disciplines. From technical skills to personal development, find the perfect courses to fuel your ambitions.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="featured-icon-parent">
          <div class=" d-flex justify-content-center align-items-center">
            <div class="mb-3 d-flex justify-content-center align-items-center" style="width: 70px;
            height: 70px; background-color: #EAF4ED; border-radius: 50%;">    
              <img class="img-fluid" alt="" src="{% static 'assets/img/home_about/users.svg'%}">
            </div>
          </div>
          <div class="text-and-supporting-text">
            <h5 class="" style="color:  #262626; font-weight: 500; font-size: 20px;">Diverse Course Selection</h5>
            <p class="px-2" style="color: #737373; font-weight: 400; line-height: 20px;">Explore our extensive range of courses covering various disciplines. From technical skills to personal development, find the perfect courses to fuel your ambitions.</p>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  
  <!--  -->
  <div class="container  mt-5" style="background-color: #EAF4ED; margin-bottom: 100px; border-radius: 16px; padding: 20px;">
    <div class="row align-items-center p-4">
      <div class="col-md-6">
        <div class="frame-parent">
          <div class="heading-parent">
            <h5 class="" style="color: #153C1F; font-size: 24px; font-weight: 800; ">Still have questions?</h5>
            <p class="supporting-text" style="color: var(--primary-color-primary-700, #236634); font-weight: 400;">Can't find the answer you're looking for? Please chat to our friendly team.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-3 mt-md-0 d-flex justify-content-md-end">
        <div class="button-variant">
          <a href="{% url 'contact_us' %}" class="text-white" style="padding: 10px 24px;border-radius: var(--radius-radius-2, 8px);
            background: #319049;">Get in touch</a>
        </div>
      </div>
    </div>
  </div>
  {% block script %}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>    
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    function startCounters() {
      const projectsCounter = document.getElementById('projectsCount');
      const downloadsCounter = document.getElementById('downloadsCount');
      const roiCounter = document.getElementById('roiCount');
      const reviewsCounter = document.getElementById('reviewsCount');
  
      const finalProjectsCount = 400;
      const finalDownloadsCount = 10;
      const finalRoiCount = 600;
      const finalReviewsCount = 200;
  
      let currentProjectsCount = 0;
      let currentDownloadsCount = 0;
      let currentRoiCount = 0;
      let currentReviewsCount = 0;
  
      const increment = 1;
      const intervalDuration = 50; // Adjust the interval duration for faster speed
  
      const projectsInterval = setInterval(() => {
        if (currentProjectsCount < finalProjectsCount) {
          currentProjectsCount += increment;
          projectsCounter.textContent = currentProjectsCount + '+';
        } else {
          clearInterval(projectsInterval);
        }
      }, intervalDuration);
  
      const downloadsInterval = setInterval(() => {
        if (currentDownloadsCount < finalDownloadsCount) {
          currentDownloadsCount += increment;
          downloadsCounter.textContent = currentDownloadsCount + 'K';
        } else {
          clearInterval(downloadsInterval);
        }
      }, intervalDuration);
  
      const roiInterval = setInterval(() => {
        if (currentRoiCount < finalRoiCount) {
          currentRoiCount += increment;
          roiCounter.textContent = currentRoiCount + '%';
        } else {
          clearInterval(roiInterval);
        }
      }, intervalDuration);
  
      const reviewsInterval = setInterval(() => {
        if (currentReviewsCount < finalReviewsCount) {
          currentReviewsCount += increment;
          reviewsCounter.textContent = currentReviewsCount + '+';
        } else {
          clearInterval(reviewsInterval);
        }
      }, intervalDuration);
    }
  
    // Call the function to start the counters
    startCounters();
  </script>
  {% endblock %}

{% endblock %}