{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<!-- PAGE TITLE
    ================================================== -->
    <header class="container py-8 py-md-11 row gx-0 mx-auto" style="background-image: none;">
        
    </header>
    

 <!-- <style>
     .login_input{

     }
 </style> -->
    <!-- LOGIN
    ================================================== -->
    <div class="container mb-11">
        <div class="row gx-0">
            
            <div class="col-md-7 col-xl-4 mx-auto">
                <div class="d-flex justify-content-start align-items-center">
                    <img src="{% static 'assets/img/logo coursely-secods.png' %}" alt="" class="img-fluid" style="max-width: 200px; height: auto; margin-bottom: 20px;">
                </div>
                <div class="container  py-xl-2">
                    <h1 class="display-4 fw-semi-bold mb-4" style="color: #262626;">Forgot Password</h1>
                    <!-- <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                            <li class="breadcrumb-item">
                                <a class="" href="{% url 'home' %}" style="color: #262626;">
                                    Home
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page" style="color: #262626;">
                                Forgot Password
                            </li>
                        </ol>
                    </nav> -->
                    <p style="color: #525252;">Not worries, we’ll send you reset instructions.</p>
                </div>
                <!-- Img -->
                <img class="d-none img-fluid" src="...html" alt="...">
                <!-- Login -->
                <h3 class="mb-6" style="color: #262626;">Log In to Your Coursely Account!</h3>
                {% include 'components/msg.html' %}
                <!-- Form Login -->
                <form method="post">
                {% csrf_token %}
                    <!-- Email -->
                    <div style="color: #525252;" class="form-group mb-5">
                        <label style="color: #525252;">{{field.label_tag}}</label>
                        <p style="border-color: #525252;">{{ form|crispy }}</p>  
                    </div>

                    <!-- Submit -->
                    <button class="btn btn-block text-white" type="submit" style="background-color: #319049;">
                        SEND CONFIRMATION LINK
                    </button>
                </form>





            </div>
        </div>
    </div>
{% endblock %}