password_reset_done.html
-------------------------
{% extends 'base.html' %}
{% block content %}
<br>
<br>
<div class="container mt-4">
    <div class="col-sm-6">
        <h2 style="color: #262626;" class="display-4">Reset Password</h2>
        <p style="color: #525252;">I have mailed you instruction for resetting your password</p>
        <p style="color: #525252;">if you have didn't recive it verified you entered the correct email and / or check your spam folder</p>
    </div>
</div>
<br>
<br>
{% endblock %}